body{
    font-family: cursive;
}
/* index.html */
.grid-container-collumn-index{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.grid-container-row-index{
    display:grid;
    grid-template-rows: 50vh 25vh 15vh ;
}
.body-index{
    overflow: hidden
}
.logo {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
}
.game-L-index
/* navbar */
.navbar {
    display: inline-block;
    font-size: large ;
    appearance: button;
}
.button {
    background-color: #04BFBF;
    border: none;
    color: #59230F;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 0px 0px 10px;
    cursor: pointer;
    border-radius: 50px;
  }

.nav {
    border-bottom: 5px solid rgb(89, 35, 15);
    text-align: center;
    height: 10vh;
    display: inline-block;
    width : 100vw;
      
}

.navbar ol {
    list-style-type: none;
    
}
.navbar{
    display: inline-block;
}
.navbar a {
    text-decoration: none;
}
.active-page-nav a {
    color: #0e1c22;
    font-weight: bold;
}
/* overons */
.grid-container-columns-overons {
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 100vh;

}
.grid-container-rows-overons {
    display: grid;
    grid-template-rows: 80vh 10vh;
}
.v-line-overons{
    border-left: 2px solid black;
    height: 100vh;
}
.icons {
    /* top right bottom left */
    padding: 5px 10% 0px 25% ;
    text-align: center;
    height: 50px;
    width: auto;
}
.text-jobs-overons{
    padding-left: 10px;
}
/* game1 */
.grid-Row-game1{
    display: grid;
    grid-template-rows: 60vh 30vh;

}
.grid-column-game1{
    display: grid;
    grid-template-columns: 75vw 25vw;
}
.line-game1{
    border-top: 2px solid black;
}
.table-game1{
    width : 100%;
    height: 25%;
    border: 1px solid black;
}
table, th, td {
    border:1px solid black;
    padding-left: 1%;
  }
  .text-game1{
      text-align: center;
  }
.image-game1{
    background-image: url(../images/Legenzalensim.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
.fade-game1{
    background: #7c7878;
background: -moz-linear-gradient(top, #7c7878 0%, #000000 100%);
background: -webkit-linear-gradient(top, #7c7878 0%, #000000 100%);
background: linear-gradient(to bottom, #7c7878 0%, #000000 100%);
}