/* index.html */
.grid-container-collumn-index{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.grid-container-row-index{
    display:grid;
    grid-template-rows: 50vh 25vh 15vh ;
}
.body-index{
    overflow: hidden
}
/* navbar */
.navbar{
    display: inline-block;
    text-align: center;

}
.active-page-nav a {
    color: green;
    font-weight: bold;
}
/* overons */
.gird-container-columns-overons{
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 100vh;
}
.line-overons{
    border-left: 2px solid black;
    height: 100vh;
}
/* game1 */
.grid-Row-game1{
    display: grid;
    grid-template-rows: 66.661vh 33.332vh;

}
.grid-column-game1{
    display: grid;
    grid-template-columns: 75vw 25vw;
}
.line-game1{
    border-top: 2px solid black;
}