.flex-container-index{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    
}
.flex-container-index-colum{
    display:flex ;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content:space-evenly;
}