.grid-container-collumn{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.grid-container-row{
    display:grid;
    grid-template-rows: 50vh 25vh 15vh ;
}
.body-index{
    margin: 0;
    height: 100%;
    overflow: hidden
}