/* index.html */
.grid-container-collumn-index{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.grid-container-row-index{
    display:grid;
    grid-template-rows: 50vh 25vh 15vh ;
}
.body-index{
    margin: 0;
    height: 100%;
    overflow: hidden
}
/* navbar */
.navbar{
    display: inline-block;
}
.active-page-nav{

}